/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  font-family: Montserrat, Helvetica, Arial, Sans-serif;
  box-sizing: border-box;
}
h2{
  font-weight: 300;
}
p{
  margin:0;
}
nav{
  height: 70px;
  background-color: white;
  margin: 0px;
  display: inline-block;
  width:100%;
}
a{
  text-decoration: none;
}

header{
  background-color: #084f70;
  background-image: url('../img/circle_grn.svg');
  background-position: 195% -5%;
  background-size: 70%;
  background-repeat: no-repeat;
  color: white;
  display: inline-block;
  width:100%;
  margin-bottom: 50px;
  padding-bottom: 100px;
}
/*header:after {
    background: #084f70;
    /* bottom: -100%; */
  /*  content: '';
    display: block;
    height: 150px;
    width: 100%;
    left: 0;
    position: absolute;
     right: 0; 
    transform-origin: 100%;
    transform: skewY(3.75deg);
    z-index: -1;
    margin-bottom: 20px;*/
  /*}*/

#services:before {
    background: white;
    /* bottom: -100%; */
    content: '';
    display: block;
    height: 350px;
    width: 100%;
    left: 0;
    position: absolute;
    /* right: 0; */
    transform-origin: 200%;
    transform: skewY(3.75deg);
    margin-bottom: 20px;
}
#services div{
  z-index: 1;
}
#services .container{
  padding-top: 0px;
}
#services:after {
    background: white;
    /* bottom: -100%; */
    content: '';
    display: block;
    height: 150px;
    width: 100%;
    left: 0;
    position: absolute;
    /* right: 0; */
    transform-origin: 100%;
    transform: skewY(3.75deg);
    z-index: 0;
    margin-bottom: 20px;
}
#portfolio:after {
    background: inherit;
    /* bottom: -100%; */
    content: '';
    display: block;
    height: 150px;
    width: 100%;
    left: 0;
    position: absolute;
    /* right: 0; */
    transform-origin: 100%;
    transform: skewY(3.75deg);
    z-index: -1;
    margin-bottom: 20px;
}
section{
  width: 100%;
  color: #2A323E;
  padding: 40px 0px;
}
section.dark{
  color: white;
  background: #87BB36;
}

header h1{
  font-size:3.75em;
  margin: 0px;
  margin-bottom: 40px;
}

.heavylogo{
  font-weight:600;
}
.lightlogo{
  font-weight:100;
}
nav {
  max-height: 100%;
}
nav ul{
  list-style-type: none;
  float:right;

}
nav li {
  display: inline;
  margin:10px 15px;
}
nav li a{
  text-decoration: none;
  color:#084f70;
  font-size: .8em;
  letter-spacing: 2px;
  font-weight: 300;
}
nav li a:hover{
  font-weight: 600;
}
nav svg{
  display: inline-block;
  height: 100%;
  padding: 10px 0px;
}
.container{
  width:95%;
  margin: 0px auto;
  display: block;
  position: relative;
}
nav .container{
  height: 100%;
}
section .container, header .container{
    padding: 80px 0px 40px;
}
#proposal-form{
  display: none;
}
.featherlight .featherlight-inner {
  display: block !important;
}
.featherlight .featherlight-content{
  background: #222222 !important;
background: -moz-radial-gradient(center, ellipse cover, #222222 0%, #444444 100%) !important;
background: -webkit-radial-gradient(center, ellipse cover, #222222 0%,#444444 100%) !important;
background: radial-gradient(ellipse at center, #222222 0%,#444444 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=1 );
}
form{
  width: 80%;
  margin:0px auto;
  color: white;
}
form h2, form label{
  color: white;
}
form h2{
  text-decoration: underline;
}
form label{
  display: block;
  margin-top: 15px;
}
form label:not(:first-child){
  text-align: left;
}
form .button{
  margin: 20px 0px;
  width: 100%;
}
input:not([type="checkbox"]){
  font-size: 1.2em;
  padding: 10px;
  width: 100%;
  color: #444;
}
input[type="checkbox"]{
  margin: 5px;
}
footer{
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer p{
  margin: 10px;
}
footer a {
  color:#fff;
}
footer p a{
  color:#87BB36;
}
.service{
  display: inline-block;
/*  border-top: 1px solid rgba(68,68,68,0.1);
  border-bottom: 1px solid rgba(68,68,68,0.1);*/
  /*border-radius: 3px;*/
  color:#444;
  padding: 10px 20px 20px 20px;
  text-align: center;
}
.service div {
  width: 100%;
  transition: 1s transform;
  visibility: hidden;
}
.serviceHover{
  visibility: visible !important;
  transform: translateY(-25%);
}
.gallery:not(:last-child){
  border-bottom: 1px solid rgba(68,68,68,0.1);
}
section.dark .service{
  background-color: white;
}
.service h1{
  font-size: 1em;
  letter-spacing: 3px;
}
.service p{
  font-size: .75em;
}
.service svg{
  height: 50%;
  margin-top:40px;
}
.service svg path{
  fill: #444 !important;
}
.button {
  display: inline-block;
  margin-top: 80px;
  padding: 15px 45px;
  font-size: 2em;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 3px;
  border:1px solid rgba(0,0,0,0);
  color: #fff;
  background-color: #87BB36;
}
.button:hover{
  background-color: #084f70;
  border:1px solid #87BB36;
}
.button:focus {
  outline: none
}
.gallery{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px 0px;
}
.gallery *{
  z-index:5;
}
.gallery > div{
  flex-grow: 1;
  -webkit-transition: .3s;
  transition: .3s;
  max-width: 80%;
  min-width: 10%;
  width: 25%;
}
.gallery > div:hover{
  -webkit-transition: .5s;
  transition: .5s;
  max-width: 70% !important;
  -webkit-box-flex: 7;
  -ms-flex-positive: 7;
  flex-grow: 7;
  cursor: pointer;
  background-color: #444;
  color: white;
}
.gallery .button{
  margin: 40px auto;
  background-color: #084f70;
  font-size: 1.2em; 
}

.hoverButton{
  margin: 40px auto;
  background-color: #fff;
  color: #444;
  font-size: 1.2em; 
}
.gallery .button:hover{
  background-color:#fff;
  border:1px solid #084f70;
  color: #084f70;
}
.showcase{
  text-align: center;
  display: block;
}
.showcase div{
  background-color: #fff;
  color: #444;
  width: 75%;
  text-align: center;
  margin: 45px auto;
  padding: 20px 0px;
  box-shadow: 0 30px 22px 0 rgba(0,0,0,.1);
}
.showcase .button{
  font-size: 1.2em;
  background: #084f70;
  margin: 30px auto;
}
/* ==========================================================================
   logo animation
   ========================================================================== */

#Layer_1 *{
  transform-origin: 50% 50%;
}

.arc1, .arc2, .arc3 {
  animation: turn 3s ease-out backwards;
}

.arc2{
  animation-delay: .3s;
}
.arc3{
  animation-delay: .6s;
}
svg#Layer_1{
    animation: grow 3s ease-out backwards;
}
@keyframes turn {
  0%{
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }
  33%{
    transform: rotate(18deg) scale(1.5);
  }
  66%{
    transform: rotate(-18deg) scale(0.9);
  }
  100%{
    transform: rotate(0deg) scale(1);
  }
}
@keyframes grow {
  0%{
    transform: scale(.9);
  }
  33%{
    transform: scale(1.1);
  }
  66%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}
/* ==========================================================================
   Typed effect
   ========================================================================== */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #87BB36;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    .container{width:75%;}
}
@media only screen and (min-width: 1500px) {
    /* Style adjustments for viewports that meet the condition */
    .container{width:50%;}
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
