#Layer_1 *{
	transform-origin: 50% 50%;
}

.arc1, .arc2, .arc3 {
	animation: turn 2s ease-out backwards;
}

.arc2{
	animation-delay: .3s;
}
.arc3{
	animation-delay: .6s;
}

@keyframes turn {
	0%{
		transform: rotate(0deg) scale(0);
		opacity: 0;
	}
	33%{
		transform: rotate(15deg) scale(1.4);
	}
	66%{
		transform: rotate(-15deg) scale(0.9);
	}
	100%{
		transform: rotate(0deg) scale(1);
	}
}